{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    Réservation - {{ parent() }}
{% endblock title%}

{% block body %}

    <h2>Réservation</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                {{ form(form) }}
            </div>
        </div>

    </div>

{% endblock body %}