{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    Réservation - {{ parent() }}
{% endblock title%}


{% block body %}
    <div id="blue">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <br>
                    <h4>Le musée du Louvre vous ouvre ses portes tous les jours sauf le mardi.</h4>
                    <h4>Il reste fermé les 1er mai, 1er novembre et 25 décembre.﻿﻿</h4>

                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- blue wrap -->

    <div id="dg">
        <div class="container">
            <div class="row centered">
                <h2>Réservation</h2>

                {% include 'OCCoreBundle:Core:formReservation.html.twig' %}

            </div>
        </div>
    </div>

    <div id="r">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4> * Conditions requises pour bénéficier du tarif réduit</h4>
                    <p>Un tarif réduit de 10 € est accordé pour les étudiants, les employés du musée, les employés d’un service du Ministère de la Culture et les militaires.
                        <br>Un justificatif vous sera demandé aux caisses du musée.</p>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div><! -- r wrap -->
{% endblock body %}