{% extends "OCCoreBundle::layout.html.twig" %}


{% block title %}
    Erreur paiement - {{ parent() }}
{% endblock %}

{% block body %}
<div id="r">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <br>
                <h4>ERREUR AU NIVEAU DU PAIEMENT</h4>
                <p>Le paiement n'a pas abouti.</p>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div><!--  bluewrap -->
<div class="container">
    <div class="row">

    </div>
</div>

{% endblock %}